<nav>
  <ul>
    <li>
      <%= link_to "Job Finder", root_path, class: "title" %>
      <span>
        <%= link_to "Companies", root_path %>
        <%= link_to "Jobs", root_path %>
      </span>
    </li>
  </ul>
</nav>